ebin
*.swp
*.dump
edoc-info
.DS_Store
deps/
doc/*.html
doc/*.css
doc/erlang.png
doc/edoc-info
.eunit
.rebar
test/temp
log
.eunit
.rebar
test/sst*
test/LOG*
test/MANIFEST*
test/*.log
test/LOCK
test/CURRENT
