%% -*- mode: erlang -*-
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{erl_opts, [
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.
{xref_checks, [undefined_function_calls]}.


{eunit_opts, [verbose]}.

{require_otp_vsn, "R16|17"}.

{erl_first_files, [ "src/rkvs_storage_backend.erl"]}.

{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam", "test/temp/*"]}.

{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git",
                   {tag, "2.0.3"}}},

    {sext, ".*", {git, "https://github.com/uwiger/sext.git",
                  {tag, "1.2"}}},

    {eleveldb, ".*", {git, "https://github.com/basho/eleveldb.git",
                     {tag, "2.0.0"}}}
]}.
