%% -*- mode: erlang -*-
{cover_enabled, true}.

{erl_opts, [
    warnings_as_errors,
    debug_info,
    {i, "include"},
    {i, "deps"},
    {src_dirs, ["src"]}
]}.

{xref_checks, [undefined_function_calls]}.


{eunit_opts, [verbose]}.

{require_otp_vsn, "R16|17|18"}.

{erl_first_files, [ "src/rkvs_storage_backend.erl"]}.

{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam", "test/temp/*"]}.

{deps, [
    {eleveldb, ".*", {git, "https://github.com/basho/eleveldb.git",
                     {tag, "2.1.0"}}},

    {erocksdb, ".*", {git, "https://github.com/leo-project/erocksdb.git",
                      {branch, "develop"}}},

    {hanoidb, ".*", {git, "https://github.com/krestenkrab/hanoidb.git",
                     "4e82d5f81ab087f038bfd13354ff48ee9113f459"}},

    {bitcask, ".*", {git, "https://github.com/basho/bitcask.git",
                     {tag, "2.0.0"}}},

    {edown, ".*",
         {git, "git://github.com/esl/edown.git", "HEAD"}}

]}.

{edoc_opts, [{application, ["rkvs"]},
             {doclet, edown_doclet},
             {subpackages, false},
             {top_level_readme,
              {"./README.md", "http://github.com/refuge/rkvs"}}]}.
